absl-py==1.4.0
accelerate==0.17.1
addict==2.4.0
aiodns==3.0.0
aiohttp @ file:///croot/aiohttp_1670009560265/work
aiohttp-socks==0.8.0
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
antlr4-python3-runtime==4.9.3
anyio @ file:///tmp/build/80754af9/anyio_1644481698350/work/dist
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644569684262/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-timeout @ file:///opt/conda/conda-bld/async-timeout_1664876359750/work
attrs==22.2.0
av==10.0.0
axel==0.0.7
Babel @ file:///croot/babel_1671781930836/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
beautifulsoup4 @ file:///opt/conda/conda-bld/beautifulsoup4_1650462163268/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blinker==1.4
boto3 @ file:///tmp/abs_ae3c72db-af47-4298-baea-7270430e2c96scbpg1_h/croots/recipe/boto3_1657820109150/work
botocore @ file:///croot/botocore_1667494008919/work
Brotli==1.0.9
brotlipy==0.7.0
bs4==0.0.1
cachetools==5.3.0
cchardet==2.1.7
certifi==2022.12.7
cffi @ file:///tmp/abs_98z5h56wf8/croots/recipe/cffi_1659598650955/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///tmp/build/80754af9/click_1646038465422/work
clip @ git+https://github.com/openai/CLIP.git@3702849800aa56e2223035bccd1c6ef91c704ca8
cloudpickle==2.2.1
colorama==0.4.6
coloredlogs==15.0.1
comm @ file:///croot/comm_1671231121260/work
contourpy==1.0.7
cryptography @ file:///croot/cryptography_1673298753778/work
cssselect==1.2.0
cycler==0.11.0
dataclasses==0.6
dataclasses-json==0.5.7
dataflow @ git+https://github.com/tensorpack/dataflow.git@4ac75d6b000c887b68bbc4ace11c57a47eff662c
datasets==2.10.1
debugpy @ file:///tmp/build/80754af9/debugpy_1637091796427/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
decord==0.6.0
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dill==0.3.6
ego4d==1.2.5
einops==0.6.0
elastic-transport==8.4.0
elasticsearch==8.7.0
entrypoints @ file:///tmp/build/80754af9/entrypoints_1649926445639/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fake-useragent==1.1.3
fastjsonschema @ file:///opt/conda/conda-bld/python-fastjsonschema_1661371079312/work
ffmpeg-python==0.2.0
filelock @ file:///croot/filelock_1672387128942/work
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.38.0
frozenlist @ file:///croot/frozenlist_1670004507010/work
fsspec==2023.3.0
ftfy==6.1.1
future==0.18.3
fvcore==0.1.5.post20221221
geographiclib==2.0
geopy==2.3.0
google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-measurement-protocol==1.1.0
google-search-results==2.4.1
googletransx==2.4.2
greenlet==2.0.2
grpcio==1.51.1
h5py @ file:///tmp/abs_4aewd3wzey/croots/recipe/h5py_1659091371897/work
huggingface-hub @ file:///croot/huggingface_hub_1667490244076/work
humanfriendly==10.0
Hydra==2.5
hydra-core==1.3.1
idna @ file:///croot/idna_1666125576474/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1648562408398/work
importlib-resources==5.10.2
iopath==0.1.10
ipykernel @ file:///croot/ipykernel_1671488378391/work
ipython @ file:///croot/ipython_1674681422581/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
jedi @ file:///tmp/build/80754af9/jedi_1644315233700/work
Jinja2 @ file:///croot/jinja2_1666908132255/work
jmespath @ file:///Users/ktietz/demo/mc3/conda-bld/jmespath_1630583964805/work
joblib @ file:///croot/joblib_1666298844297/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonlines==3.1.0
jsonschema @ file:///opt/conda/conda-bld/jsonschema_1663375472438/work
jupyter @ file:///tmp/abs_33h4eoipez/croots/recipe/jupyter_1659349046347/work
jupyter-console @ file:///croot/jupyter_console_1671541909316/work
jupyter-server @ file:///croot/jupyter_server_1671707632269/work
jupyter_client @ file:///croot/jupyter_client_1671703053786/work
jupyter_core @ file:///croot/jupyter_core_1672332224593/work
jupyterlab @ file:///croot/jupyterlab_1675354114448/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
jupyterlab_server @ file:///croot/jupyterlab_server_1672127357747/work
kiwisolver==1.4.4
langchain==0.0.106
lxml @ file:///opt/conda/conda-bld/lxml_1657545139709/work
Markdown==3.4.1
markdown-it-py==2.1.0
MarkupSafe @ file:///opt/conda/conda-bld/markupsafe_1654597864307/work
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.6.3
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mdurl==0.1.2
MechanicalSoup==1.2.0
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186064646/work
mkl-service==2.4.0
mmaction2==0.24.1
mmcv-full==1.7.1
model-index==0.1.11
mpi4py==3.1.4
msgpack==1.0.4
msgpack-numpy==0.4.8
multidict @ file:///croot/multidict_1665674239670/work
multiprocess==0.70.14
mutagen==1.46.0
mypy-extensions==1.0.0
nbclassic @ file:///croot/nbclassic_1668174957779/work
nbclient @ file:///tmp/build/80754af9/nbclient_1650308366712/work
nbconvert @ file:///croot/nbconvert_1668450669124/work
nbformat @ file:///croot/nbformat_1670352325207/work
nest-asyncio @ file:///croot/nest-asyncio_1672387112409/work
networkx==3.0
ninja==1.11.1
nltk==3.8.1
nms-1d-cpu==0.0.0
nncore==0.3.6
notebook @ file:///croot/notebook_1668179881751/work
notebook_shim @ file:///croot/notebook-shim_1668160579331/work
numpy==1.24.2
nvidia-ml-py3==7.352.0
oauthlib @ file:///croot/oauthlib_1665490897403/work
omegaconf==2.3.0
openai==0.26.5
opencv-contrib-python==4.7.0.68
opencv-python==4.7.0.68
openmim @ git+https://github.com/open-mmlab/mim.git@231ffc73cb812f40b8d9ee0767c479aa0d62f23f
ordered-set==4.1.0
packaging @ file:///croot/packaging_1671697413597/work
pandas==1.5.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parse==1.19.0
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.3.0
pkgutil_resolve_name @ file:///opt/conda/conda-bld/pkgutil-resolve-name_1661463321198/work
platformdirs @ file:///opt/conda/conda-bld/platformdirs_1662711380096/work
ply==3.11
portalocker==2.7.0
prices==1.1.1
prometheus-client @ file:///tmp/abs_d3zeliano1/croots/recipe/prometheus_client_1659455100375/work
prompt-toolkit @ file:///croot/prompt-toolkit_1672387306916/work
protobuf==3.20.1
psutil==5.9.4
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==11.0.0
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycares==4.3.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodomex==3.17
pydantic==1.10.6
pyee==8.2.2
Pygments==2.14.0
PyJWT @ file:///opt/conda/conda-bld/pyjwt_1657544592787/work
pyOpenSSL==23.0.0
pyparsing==3.0.9
pyppeteer==1.0.2
PyQt5-sip==12.11.0
pyquery==2.0.0
pyre-extensions==0.0.23
pyrsistent @ file:///tmp/build/80754af9/pyrsistent_1636110947380/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-socks==2.2.0
pytorch-ignite==0.4.10
pytz @ file:///croot/pytz_1671697431263/work
PyYAML @ file:///croot/pyyaml_1670514731622/work
pyzmq==25.0.0
qtconsole @ file:///croot/qtconsole_1674008428467/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1662014892439/work
regex==2022.10.31
requests==2.28.2
requests-html==0.10.0
requests-oauthlib==1.3.1
responses==0.18.0
rich==13.3.1
rsa @ file:///tmp/build/80754af9/rsa_1614366226499/work
s3transfer @ file:///opt/conda/conda-bld/s3transfer_1654524197066/work
schedule==1.2.0
scikit-learn==1.2.1
scipy==1.10.0
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
simplejson==3.18.1
sip @ file:///tmp/abs_44cd77b_pu/croots/recipe/sip_1659012365470/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio @ file:///tmp/build/80754af9/sniffio_1614030475067/work
snscrape @ git+https://github.com/JustAnotherArchivist/snscrape.git@3dd9c28e31b8babeb2a187fbae994d9717ded168
soupsieve @ file:///croot/soupsieve_1666296392845/work
SQLAlchemy==1.4.46
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
submitit==1.4.5
tabulate==0.9.0
tenacity==8.2.2
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==2.2.0
terminado @ file:///croot/terminado_1671751832461/work
terminaltables==3.1.10
threadpoolctl==3.1.0
tinycss2 @ file:///croot/tinycss2_1668168815555/work
tokenizers @ file:///opt/conda/conda-bld/tokenizers_1651822590771/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
torch==1.12.1
torch-tb-profiler==0.4.1
torchaudio==0.12.1
torchsummary==1.5.1
torchtext==0.13.1
torchvision==0.13.1
tornado @ file:///opt/conda/conda-bld/tornado_1662061693373/work
tqdm @ file:///opt/conda/conda-bld/tqdm_1664392687731/work
traitlets @ file:///croot/traitlets_1671143879854/work
transformers @ file:///croot/transformers_1667919440064/work
tweepy==4.14.0
twint @ git+https://github.com/twintproject/twint.git@e7c8a0c764f6879188e5c21e25fb6f1f856a7221
twitter-scraper==0.4.4
typing-inspect==0.8.0
typing_extensions @ file:///croot/typing_extensions_1669924550328/work
urllib3 @ file:///croot/urllib3_1673575502006/work
w3lib==2.1.1
wcwidth==0.2.6
webencodings==0.5.1
websocket-client @ file:///tmp/build/80754af9/websocket-client_1614804261064/work
websockets==10.4
Werkzeug @ file:///croot/werkzeug_1671215996852/work
wget==3.2
widgetsnbextension @ file:///tmp/build/80754af9/widgetsnbextension_1645009353553/work
xformers @ git+https://github.com/facebookresearch/xformers.git@57edbb7a7e313b8c8d3b6e2b67b201b877b9d78b
xxhash==3.2.0
yacs==0.1.8
yapf==0.32.0
yarl @ file:///opt/conda/conda-bld/yarl_1661437085904/work
youtube-dl @ file:///home/conda/feedstock_root/build_artifacts/youtube-dl_1640026230460/work
yt-dlp==2023.3.4
zipp @ file:///croot/zipp_1672387121353/work
